<form id="message_form">
  <input value="<%= room.id %>" type="hidden" id="room_id">
    <input type="text" id="message" class="w-full border-2 px-2 py-1">
    <div class="text-right mt-1">
      <input type="submit" value="送信" id="message_btn" class="text-white bg-green-500 px-2 py-1 cursor-pointer"> 
    </div>
</form>
