<form id="message_form">
  <input type="hidden" id="room_id" value="<%= room.id %>">
  <input type="text" id="message" class="w-full border-2 px-2 py-1">
  <div class="mt-1">
    <input type="submit" value="送信" id="message_btn" class="w-full text-white bg-green-500 px-2 py-1 cursor-pointer"> 
  </div>
</form>
