<section class="text-gray-600 body-font relative">
  <div class="container mx-auto my-5">
    <div class="text-center mx-auto w-1/2">
      <%= form_with model: [@post, @comment], local: true do |f| %>
        <div class="block">
          <%= f.text_area :text, class: "bg-gray-100 border w-full h-32" %>
        </div>
        <div class="block mt-2">
          <%= f.button :type => "submit" do %>
            <div class="text-white bg-green-500 border-0 py-1 px-2 focus:outline-none hover:bg-green-600 rounded text-lg">コメント送信</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>