<% visitor = notification.visitor %>
<% visited = notification.visited %>
<% post = notification.post %>

<p>
  <%= link_to "#{notification.visitor.nickname}", user_path(notification.visitor) %>
  <%== notification_form(notification) %>
  <span><%= "(#{time_ago_in_words(notification.created_at)}å‰)" %></span>
  <% if !@comment.nil? %>
    <p><%= @comment %></p>
  <% end %>
</p>
