<div class="px-4">
  <p class="border-b-2 p-2"><i class="fas fa-history mr-1"></i><%= link_to "新着順", posts_path %></p>
  <p class="border-b-2 p-2"><i class="far fa-heart mr-1"></i><%= link_to "共感順", sort_empathy_posts_path %></p>
  <p class="border-b-2 p-2"><i class="fas fa-tags mr-1"></i><%= link_to "人気タグ", tags_index_path %></p>
</div>
