<%= form_with model: @post, local: true do |f| %>
  <p>悩みを書いてください。</p>
  <%= f.text_area :text %>
  <p>タグを登録してください。</p>
  <p>記入例: 転職 新人 営業 (タグとタグの間にスペースを入力してください。)</p>
  <%= f.text_field :name %>
  <%= f.submit "投稿する" %>
<% end %>